:root {
  /* Your default theme */
  --background: 222.2 47.4% 11.2%;
  --foreground: 180 74% 40%;
  --muted: 215.4 16.3% 46.9%;
  --muted-foreground: 210 40% 96.1%;
  --card: 222.2 47.4% 11.2%;
  --card-foreground: 0 0% 100%;
  --popover: 222.2 47.4% 11.2%;
  --popover-foreground: 0 0% 100%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 222.2 47.4% 11.2%;
  --secondary-foreground: 210 40% 96.1%;
  --accent: 222.2 47.4% 11.2%;
  --accent-foreground: 210 40% 96.1%;
  --destructive: 210 40% 98%;
  --destructive-foreground: 0 100% 50%;
  --warning: 14 91% 70%;
  --warning-foreground: 285 8% 20%;
  --success: 146 76% 49%;
  --success-foreground: 146 76% 13%;
  --ring: 215 20.2% 65.1%;
  --radius: 0.5rem;
}

$white-color: #f1f1f1;
$black-color: #131619;
$gray-color: lighten($black-color, 5);
$primary-color: #1bb1b1;
