.date-picker_wrapper {
  position: relative;
  .date-picker {
    position: absolute;
    inset: 0;
    width: 18rem;
    border-radius: 0.375rem;
    border-width: 1px;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    box-shadow: 0 4px 6px hsl(var(--background) / 0.1);
    z-index: 50;
    border-color: hsl(206, 6%, 23%);
  }
}

.shad-dialog {
  --tw-border-opacity: 1;
  border-color: #363a3d !important;
  --tw-bg-opacity: 1;
  background-color: #1a1d21 !important;
}
