.date-picker_wrapper {
  position: relative;
  .date-picker-input__wrapper {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border: 1px solid $gray-color;
    color: darken($white-color, 30);
    border-radius: 0.5rem;
    padding: 0.6rem 0.8rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background 0.2s ease-out;
    &:hover {
      background-color: darken($black-color, 1);
    }
  }
  .date-picker {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0.5rem);
    z-index: 50;

    &.show {
      display: block;
    }

    .rdp-chevron {
      fill: $primary-color;
    }

    .rdp-root {
      border-radius: 0.375rem;
      box-shadow: 0 4px 6px rgba($black-color, 0.3);
      color: $white-color;
      background-color: lighten($black-color, 2);
      border-right: 5px solid $primary-color;
      border: 1px solid $gray-color;
      padding: 1rem;
    }
    .rdp-day:hover {
      background-color: lighten($black-color, 4);
    }
    .rdp-selected {
      background: lighten($black-color, 5);
      border-radius: 0.2rem;
    }
    .rdp-range_end,
    .rdp-range_start {
      background: lighten($black-color, 8);
      box-sizing: content-box;
      font-weight: 400;
      font-size: 1rem;
      button {
        background: transparent;
        border: none;
        color: $primary-color;
      }
    }
    .rdp-today:not(.rdp-outside) {
      color: $primary-color;
    }
    .rdp-range_end {
      border-right: 5px solid $primary-color;
    }
    .rdp-range_start {
      border-left: 5px solid $primary-color;
    }
  }
}
